-
	list = [
		{
			title: 'Contactez-nous',
			descr: "Vous avez des questions ? N'hésitez pas à nous contacter !",
			btn: 'CONTACT',
			mod: 'grid__item--text',
		},
		{
			img: 'grid-0',
			mod: 'grid__item--img',
		},
		{
			img: 'grid-1',
			mod: 'grid__item--img',
		},
		{
			title: 'COORDONNÉES',
			tel: '+1 (000) 000-00-00',
			mod: 'grid__item--text',
		}
	]

section.section.grid.js-grid-w
	.section_in.grid__in
		.grid__list
			each item, index in list
				.grid__item(class=`grid__item--${index} `)
					.grid__item_in.js-grid-item(class=`${item.mod}`)
						if item.img
							+picture({
								img: `${ item.img}.png`,
								class: 'grid__img_w',
								img_class: 'grid__img',
								alt: 'some image',
							})
						else if item.tel
							.grid__social_mark.js-grid-text-in
								+icon('mark', 'icon--size_mod')
							.grid__social_title.js-grid-text-in=item.title
							a(href="#").grid__tel.js-grid-text-in=item.tel
							a(href="#").grid__tel_mail.js-grid-text-in info@bistrotdesamis-fontainebleau.fr
							.grid__social_row
								.grid__social_descr.js-grid-text-in 1 Rue Montebello, 77300 Fontainebleau, France
								ul.grid__social_list
									li.grid__social_item
										a.grid__social_link.js-grid-text-in(href="#")
											+icon('insta', 'icon--size_mod')
									li.grid__social_item
										a.grid__social_link.js-grid-text-in(href="#")
											+icon('facebook', 'icon--size_mod')
						else
							.grid__title.js-grid-text-in=item.title
							.grid__item_row
								.grid__descr.js-grid-text-in=item.descr
								.grid__button_w
									a.grid__button.btn_base.js-grid-text-in(href="#")=item.btn

